<div class="editPagesMargin">

    <div class = "image-login">
    <img class = "login-image" src="/images/virtualbook.jpg" alt="virtual book club">
    </div>

<form method="post" action="/auth/signin" class="form">

    <label for="email">Email</label>
    <input class="input" type="email" id="email" name="email" value="book@club.com"><br>
    <label for="password">Password</label>
    <input class="input" type="password" id="password" name="password" value="12345"><br>
    <button class = "btn-text">Signin</button>
</form>
<p class = "already">
    Don't have an account yet ? <a href="/auth/signup">Signup</a>
</p>

</div>