


<div class="homecontainer">

<h1 class="title-home">{{title}}</h1>
    <img class="image-home" src="images/book club.jpeg" alt="image of people reading">

</div>

<footer class="footer">

<h5>Project Team <span>|</span> Fatoumata Diaby  -  Alexis Verthuy  -  Victoria Virlan</h5>

</footer>