<h1>My profile</h1>

<div>
    <img src="{{user.avatar}}" alt="Avatar">
    <div>
        First name: {{user.firstName}} <br>
        Last name: {{user.lastName}} <br>
        email: {{user.email}}
    </div>
    <div>
        <button>My whishlist</button>
    </div>
    <div>
        <button>Edit my account</button>
    </div>
</div>