<h1>{{currentUser.firstName}} {{currentUser.lastName}}</h1>

<img src="{{currentUser.avatar}}" alt="Avatar">
<div>
  <p>email: {{currentUser.email}}</p>
</div>
<div>
  <p>My whishlist</p>
</div>
<div>
  <a href='/users/edit'>Edit my account</a>
</div>