*{
  box-sizing: border-box;
  background-color: rgb(246, 237, 226);

}

#nav-main {
  margin-bottom: 5%;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.cards{
  display: grid;
  grid-template-columns: repeat(4,auto);
  grid-row-gap: 40px;
  margin-top: 3%;
}
.card-book {
  width:200px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.homecontainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.image-home{
 min-width: 50vw;
 max-height: 60vh ;
 border-radius: 10px;

}
.bookcard-container{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.cover-image {
  width: 220px;
  height: 300px;
  margin-bottom: 10px;
}

.profilepic {
  width: 40%;
  height: 30%;
  border-radius: 10px;
}

.btn {
  width : 25%;
  height: 30px;
  margin-bottom: 2%;
  background-color: #00B7FF;
  margin: 2% 0%;
  color: white;
}

.btn-text {
  color: white;
  background-color: #00B7FF;
  text-decoration: none;
}

.allbooks {
  justify-content: center;
  text-align: center;
}

fieldset {
  margin-bottom: 15px;
  padding: 10px;
}
 
legend {
  padding: 0px 3px;
  font-weight: bold;
  font-variant: small-caps;
}
 
label {
  width: 110px;
  display: inline-block;
  vertical-align: top;
  margin: 6px;
  font-weight: bold;
}
 
input, textarea {
  width: 400px;
}

.login-image {
  min-width: 45vw;
  max-height: 65vh ;
  border-radius: 10px;
}

.image-login {
  display: flex;
  justify-content: center;
  align-items: center;
}