*{
  box-sizing: border-box;
  background-color: rgb(246, 237, 226);
}


body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.cards{
  display: grid;
  grid-template-columns: repeat(4,auto);
  grid-row-gap: 40px;
}
.card-book {
  width:200px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.homecontainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.image-home{
 min-width: 50vw;
 max-height: 60vh ;
 border-radius: 10px;

}
.bookcard-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.cover-image {
  width: 220px;
  height: 300px;
  margin-bottom: 10px;
}