
<h1 class="allbookstitle">OUR BOOKS SELECTION</h1>
<div class="cards">
    {{#each books}}

    <div class="book-style">
        <h3>{{this.title}}</h3>
        <img class="cover-image" src="{{cover}}" alt="Book Cover">
        <a href="/books/{{this._id}}">See details</a>
    </div>
    {{/each}}
    <div class="book-style">
        <h3></h3>
        <button class="cover-image"><a class="btn-text" href="/books/create"> Add a book</a></button>
    </div>
</div>
