<h1>All books</h1>
<a href="/books/create"> Add book</a>

<div class="cards">
    {{#each books}}
    <div>
        <div>
            <p>{{this.title}}</p>
        </div>
        <img class="cover-image" src="{{cover}}" alt="Book Cover">
        <div>
            <a href="/books/{{this._id}}">See details</a>
        </div>
    </div>
    {{/each}}
</div>