<h1 class = "allbooks">All books</h1>
<button class = "btn"><a class = "btn-text" href="/books/create"> Add a book</a></button>

<div class="cards">
    {{#each books}}
        <div>
            <img class="cover-image" src="{{cover}}" alt="Book Cover">
            <div>
                <a href="/books/{{this._id}}">{{this.title}}</a>
            </div>
        </div>
        {{/each}}
    </div>