
<div class="editPagesMargin"> 
    
<h1>Add a book</h1>

<form method="post"  enctype="multipart/form-data" action="/books/create" class="form">
    <label for="title">Title</label><br>
    <input class="input" type="text" id="title" name="title" value="test title"><br>
    <label for="author">Author</label><br>
    <input id="author" class="input" type="text" name="author" value="test Author"><br>
    <label for="year">Year</label><br>
    <input id="year" class="input" type="number" name="year" value="test year"><br>
    <label for="genre">Genre</label><br>
    <input id="genre" class="input" type="text" name="genre" value="test genre"><br>
    <label for="synopsis">Synopsis</label><br>
    <input id="synopsis" class="input" type="text" name="synopsis" value="test synopsis"><br>
    <label for="cover">Cover</label><br>
    <input id="cover" class="input" type="file" name="cover" value="test cover"><br>
    <button class="btn">Save changes !</button>
</form>

</div>
 