<h1>Edit book</h1>

{{!-- action represents the ROUTE you wanna target --}}
<form method="post" action="/books/create" class="form">
    <label for="title">Title</label>
    <input class="input" type="text" id="title" name="title" value="test title">
    <label for="author">Author</label>
    <input id="author" class="input" type="text" name="author" value="test Author">
    <button class="btn">ok !</button>
</form>